@import 'src/styles/vars';

.container {
  padding: 2rem;
}

.tchat {
  display: flex;
  align-items: center;
  margin: 4rem 0 1rem 0;
  color: $darkColor;

  &__author {
    width: 10%;
    font-size: .8em;
  }

  &__arrow {
    width: 0;
    height: 0;
    border: 7px solid $lightColor;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }

  &__text {
    width: 90%;
    padding: .5rem;
    font-size: .9em;
    background-color: $lightColor;
    border-radius: 4px;
  }
}