@import 'src/styles/vars';

.settings {
  position: absolute;
  right: -5rem;
  top: 3rem;
  background-color: $darkColor;
  padding: 1rem;
  border-radius: 4px;

  &__input {
    height: 2em;
    border-radius: 2px;
    border: none;
  }
}